@font-face {
    font-family: JetBrainsMono;
    src: url(JetBrainsMono.ttf);
 }



body {
    background-color: #1E1D2F;
    font-family: JetbrainsMono;
    height: 200%;
    overflow-x: hidden;
    max-height: 100%;
    position: relative
}

body, html{
    max-width: 100%;
    overflow-x: hidden;
}

h1{
    color: #F28FAD;
    font-size: 104px;
    margin: 0px;
}

a:link{
    color: #96CDFB;
}

a:visited{
    color: #DDB6F2
}

button:hover{
    cursor: pointer;
}

img{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    border-radius: 20px;
    border: solid #575268 5px;
}

.MenuButton{
    background-color: #302D41;
    border: #00000000;
    color: #ABE9B3;
    border-radius: 30px;
    padding: 5px;
    font-family: JetbrainsMono;
    font-size: 20px;
    transition: all 0.25s;
}
.MenuButton:hover{
    background-color: #575268;
}


.contentHeader{
    padding: 5px;
}

.content{
    position: relative;
    background-color: #302D41;
    color: #FAE3B0;
    border-radius: 20px;
    margin: 25px;
    padding: 10px;
    /* transition: all 0.5s; */
}

/* .content:hover{
    font-size: 17px;
    padding: 2px;
} */


.front{
    margin-top: 200%;
}

.frontRight{
    margin-top: 250%
}

.center {
    width: 30%;
    padding: 10px;
}

.horizontal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}

.vertical{
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.MenuBar{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    height:auto;
    padding: 5px;
    background-color: #302D41;
    color: #F2CDCD;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
}

.MenuBarItem{
    margin: 5px;
    padding-left: 15px;
    padding-right: 100px;
    display: flex;
    justify-content: space-around;
}

.page{
    position: relative;
    width: 100%;
    height: 100%;
    justify-self: center;  
    grid-row: 0; 
}


.pages{
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 100%;
    left: 0%;
    grid-template-columns: 100% 100% 100% 100%;
}

.fakeLink{
    cursor: pointer;
    color: #96CDFB;
    text-decoration: underline;
}

#HomeDiv{
    grid-column: 1;
    margin-top: 00%;
    grid-row: 1; 

}

#ProjectDiv{
    grid-column: 2;
    grid-row: 1; 

}

#ContactDiv{
    grid-column: 3;
    grid-row: 1; 

}

#LinuxDiv{
    grid-column: 4;
    grid-row: 1; 

}
