body {
    background-color: #1E1D2F;
    font-family: Jetbrains Mono;
}

h1{
    color: #F28FAD;
    font-size: 104px;
    margin-bottom: 0px;
}

a:link{
    color: #96CDFB;
}

a:visited{
    color: #DDB6F2
}

.MenuButton{
    background-color: #302D41;
    border: #00000000;
    color: #ABE9B3;
    border-radius: 30px;
    padding: 5px;
    font-family: Jetbrains Mono;
    font-size: 20px;
}
.MenuButton:hover{
    background-color: #575268;
}


.contentHeader{
    padding: 5px;
}

.content{
    background-color: #302D41;
    color: #FAE3B0;
    border-radius: 20px;
    margin: 25px;
}

.center {
    width: 25%;
    padding: 10px;
}

.horizontal{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.vertical{
    display: flex;
}

.MenuBar{
    width: 54%;
    margin-left: auto;
    margin-right: auto;
    height:auto;
    padding: 5px;
    background-color: #302D41;
    color: #F2CDCD;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
}

.MenuBarItem{
    margin: 5px;
    padding-left: 15px;
    padding-right: 100px;
    display: flex;
    justify-content: space-around;
}