:root{
    --accent: red
}

@font-face {
    font-family: JetBrainsMono;
    src: url(../../JetBrainsMono.ttf);
}


body{
    font-family: JetBrainsMono;
    background-color: black;
    max-width: 100%;
    min-height: 2000px;
    height: 1000px;
     /* max-height: 100%;  */
     /* overflow-y: hidden;  */
    overflow-x: hidden;
}

.background{
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: -2;
}


.content{
    padding: 15px;
    backdrop-filter: blur(10px);
    border: var(--accent) 2px solid;
    border-radius: 20px;
    color: white;
    background-image: radial-gradient(#00000000 , #000000FF 75%);
}

#Rules{
    width: 60%;
    margin: auto;
    margin-bottom: 250px;
}

#vingette{
    /* pointer-events: none; */
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#00000000 , #000000FF 100%);
    z-index: -1;
}


#numbers{
    margin: 0px;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.527);
    z-index: inherit;
}

#MainTitle{
    color: white;
    text-align: center;
    z-index: 5;
    font-size: 104px;
}
#LeverGame{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#LeverBase{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -10px;
    background-color: #00000000;
    border: 0px;
    z-index: 2;
}

#Lever{
    background-color: red;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #00000000;
    margin-right: 0px;
    margin-left: -190px;
    transform: rotate(-45deg);
    z-index: 1;
}

#LeverContainer{
    background-color: red;
}
#LeverText{
    font-size: 400px;
    color: #FFF;
}
#leverbox{
    margin-left: 00px;
    backdrop-filter: blur(5px);
    background-image: radial-gradient(circle, #00000000 , #000000FF 75%);
    height: 100%;
    width: 50%;
    margin-right: 0px;
    z-index: 2;
}