@font-face {
	font-family: JetBrainsMono;
	src: url(../JetBrainsMono.ttf);
}

body {
	background-color: #1e1d2f;
	font-family: JetbrainsMono;
	height: 200%;
	overflow-x: hidden;
	max-height: 100%;
	position: relative;
}

body,
html {
	max-width: 100%;
	overflow-x: hidden;
}

h1 {
	color: #f28fad;
	font-size: 104px;
	margin: 0px;
}

h2 {
	color: #f28fad;
	font-size: 32px;
	margin: 0px;
}

a:link {
	color: #96cdfb;
}

a:visited {
	color: #ddb6f2;
}

button:hover {
	cursor: pointer;
}

button {
	border-radius: 12px;
	font-size: 24px;
	border: none;
	color: #f28fad;
}

.image {
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
	border-radius: 20px;
	border: solid #575268 5px;
}

.MenuButton {
	background-color: #302d41;
	border: #00000000;
	color: #abe9b3;
	border-radius: 30px;
	padding: 5px;
	font-family: JetbrainsMono;
	font-size: 20px;
	transition: all 0.25s;
}
.MenuButton:hover {
	background-color: #575268;
}

.contentHeader {
	padding: 5px;
}

.content {
	position: relative;
	background-color: #302d41;
	color: #fae3b0;
	border-radius: 20px;
	margin: 25px;
	padding: 10px;
	/* transition: all 0.5s; */
}

/* .content:hover{
    font-size: 17px;
    padding: 2px;
} */

.front {
	margin-top: 200%;
}

.frontRight {
	margin-top: 250%;
}

.center {
	width: 30%;
	padding: 10px;
}

.horizontal {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.vertical {
	display: flex;
	justify-content: start;
	flex-direction: column;
}

.MenuBar {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	height: auto;
	padding: 5px;
	background-color: #302d41;
	color: #f2cdcd;
	border-radius: 30px;
	display: flex;
	justify-content: space-around;
}

.MenuBarItem {
	margin: 5px;
	padding-left: 15px;
	padding-right: 100px;
	display: flex;
	justify-content: space-around;
}

.page {
	position: relative;
	width: 100%;
	height: 100%;
	justify-self: center;
	grid-row: 0;
}

.pages {
	position: relative;
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: 100%;
	left: 0%;
	grid-template-columns: 100% 100% 100% 100%;
}

.fakeLink {
	cursor: pointer;
	color: #96cdfb;
	text-decoration: underline;
}

.MusicPlayer {
	background-color: #575268;
	color: #fae3b0;
	border-radius: 20px;
	margin: 25px;
	padding: 10px;
	width: 50%;
}

#HomeDiv {
	grid-column: 1;
	margin-top: 00%;
	grid-row: 1;
}

#ProjectDiv {
	grid-column: 2;
	grid-row: 1;
}

#ContactDiv {
	grid-column: 3;
	grid-row: 1;
}

#LinuxDiv {
	grid-column: 4;
	grid-row: 1;
}

#LeverSimButton {
	color: black;
}

#leverbox {
	height: 100%;
	width: 50%;
	margin-right: 0px;
	z-index: 2;
}
#LeverText {
	font-size: 400px;
	color: #575268;
}

#LeverGame {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#LeverBase {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: -10px;
	background-color: #00000000;
	border: 0px;
	z-index: 2;
}

#LeverButton {
	background-color: #00000000;
	z-index: 1;
}

#Lever {
	cursor: pointer;
	margin-top: auto;
	margin-bottom: auto;
	background-color: #00000000;
	margin-right: 0px;
	margin-left: -190px;
	transform: rotate(-45deg);
	z-index: 1;
}

#TotalBlock {
	margin: auto;
	margin-right: 10px;
	padding: 20px;
}

#TotalText {
	padding: 10px;
	padding-top: 0px;
	font-size: 124px;
}

#TheWordTotalText {
	padding: 10px;
	padding-bottom: 0px;
	margin: 0px;
	color: #f28fad;
}

#LeverNotif {
	width: 50%;
	padding: 5px;
	margin: auto;
}

#HomePage {
	margin-left: auto;
	margin-right: auto;
	display: grid;
	width: fit-content;
	width: 90%;
	gap: 0px;
	grid-template-columns: 20% 80%;
	grid-template-rows: 20% 80%;
	height: 1000px;
}

#LeverDescription {
	padding-bottom: 10px;
	grid-row: 1;
	grid-column: 1 / span 2;
}

#GameSelect {
	background-color: #1e1d2f;
	grid-row: 2;
	grid-column: 1;
	border-radius: 0px;
	padding: 0px;
}

#LeverNews {
	grid-row: 2;
	grid-column: 2;
}

.GameButton {
	font-family: JetBrainsMono;
	font-size: 20px;
	min-height: 75px;
    max-height: 75px;
	margin-top: 0px;
	margin-top: -5px;
	margin-bottom: -3px;
	border-radius: 0px;
	background-color: #302d41;
	transition: all 0.3s ease;
	margin-left: 0px;
	margin-right: 0px;
	border: #302d41 10px solid;
	width: 100%;
}

#TopBorder {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	min-height: 30px;
	height: 5px;
	max-height: 30px;
	border-bottom: -5px;
}

#TopBorder:hover {
	cursor: default;
	font-size: none;
	padding-right: none;
	width: 100%;
	background-color: #302d41;
}

#BottomBorder {
	margin-top: -10px;
	padding: 0px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	min-height: 30px;
	height: 5px;
	max-height: 30px;
}

#BottomBorder:hover {
	cursor: default;
	font-size: none;
	padding-right: none;
	width: 100%;
	background-color: #302d41;
}

#CompButton {
	background-color: black;
	color: red;
	font-style: oblique;
	font-weight: bolder;
}

#ClassicButton {
	background-color: #fff;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	color: #000;
}
#MainButton {
	background-color: #575268;
}

#TwoButton {
	background-color: black;
	background-image: url(../LeverSim2/Anouncement/number.svg);
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	font-weight: bolder;
}

.GameButton:hover {
	font-size: 20px;
	padding: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	/* padding-right: 10%; */
	width: 110%;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	/* background-color: #575268; */
}

.news {
	background-color: #575268;
}

#lever-sim-2-announcement {
	background-color: #000;
	color: white;
	border: 2px red solid;
}

#ThreeButton {
	display: flex;
	background-color: white;
	padding: 0px;
	align-items: center;
	flex-direction: column;
	max-height: none;
	font-family: inter;
	color: #000;
	text-decoration: none;
}

.lever-sim-three-button {
	width: 200px;
	padding: 0px;
	margin: 0px;
}
